.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  font-size: 16px;
  line-height: 24px;
  font-family: inherit;

  background: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s;

  &:hover,
  &:focus {
    background-color: $color-medium-purple;
  }

  &:active {
    background-color: $color-royal-purple;
  }

  &:disabled {
    background-color: $color-silver;

    pointer-events: none;
  }

  &--primary {
    color: $color-white;

    background-color: $color-slate-blue;
  }

  &--secondary {
    color: $color-slate-blue;

    background-color: $color-white;

    &:hover,
    &:focus {
      color: $color-white;
    }

    &:disabled {
      color: $color-white;

      background-color: $color-gainsboro;
    }
  }

  &--basket {
    &::before {
      content: "";

      flex-shrink: 0;
      width: 20px;
      height: 16px;
      margin-right: 6px;
      font-size: $fz-default;

      background-image: url("../../img/svg/basket-add.svg");
      background-repeat: no-repeat;
    }
  }

  &--divider {
    font-weight: 600;
    color: $color-night-rider;

    pointer-events: none;
  }
}
