.catalog {
  padding: 50px 20px 56px 20px;

  background-color: $color-white-smoke;

   @media (min-width: $vp-tablet) {
    padding-top: 80px;
    padding-bottom: 90px;
  }
   @media (min-width: $vp-dekstop){
    padding: 100px 40px 120px 40px;
  }
}

.catalog__wrapper {
  max-width: 500px;
  margin: 0 auto;

   @media (min-width: $vp-tablet) {
    max-width: 1024px;
  }
   @media (min-width: $vp-dekstop){
    display: grid;
    max-width: 1360px;

    column-gap: 30px;

    grid-template-columns: auto 1fr;
  }
}

.catalog__promo {

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $color-slate-blue;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 0;
  margin-bottom: 5px;

  text-align: center;

   @media (min-width: $vp-dekstop){
    grid-column: 1 / -1;
  }
}

.catalog__title {

  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
  @media (min-width: $vp-tablet){
    font-size: 42px;
    line-height: 64px;
  }

 @media (min-width: $vp-dekstop){
    margin-bottom: 36px;

    grid-column: 1 / -1;
  }
}

.catalog__form {
  margin-bottom: 37px;

   @media (min-width: $vp-tablet) {
    display: grid;
    margin-bottom: 41px;

    row-gap: 39px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
   @media (min-width: $vp-dekstop){
    align-items: start;
    width: 318px;
    height: fit-content;
    margin-top: 4px;

    row-gap: 30px;
    justify-items: start;
    grid-template-columns: auto;
  }
}

.catalog__legend {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__range {
  margin-bottom: 30px;

   @media (min-width: $vp-tablet) {
    width: calc(100% - 20px);
    max-width: 300px;
    margin-bottom: 0;

    justify-self: start;
  }
   @media (min-width: $vp-dekstop){
    width: 100%;
    max-width: inherit;
    margin-right: 0;
  }
}

.catalog__price-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;

  column-gap: 18px;

  grid-template-columns: 1fr 8px 1fr;
   @media (min-width: $vp-tablet) {
    column-gap: 20px;
  }

  &::before {
    content: "";

    order: 2;
    width: 100%;
    height: 2px;

    background-color: $color-silver;
  }
}

.catalog__price {
  width: 100%;

  &--min {
    order: 1;
  }

  &--max {
    order: 3;
  }
}

.catalog__input-wrapper {
  margin-bottom: 34px;

   @media (min-width: $vp-tablet) {
    margin-bottom: 0;
  }

  &--first {
     @media (min-width: $vp-tablet) {
      margin-right: 13px;
    }
     @media (min-width: $vp-dekstop){
      margin-right: 0;
    }
  }

  &--last {
    margin-bottom: 30px;

     @media (min-width: $vp-tablet) {
      margin-bottom: 0;
    }
     @media (min-width: $vp-dekstop){
      margin-right: 0;
    }
  }
}

.catalog__field {
  width: 100%;

  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.catalog__buttons {
   @media (min-width: $vp-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    grid-column: 1 / -1;
  }
   @media (min-width: $vp-dekstop){
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    gap: 6%;
  }
}

.catalog__button {
  width: 100%;

   @media (min-width: $vp-tablet) {
    width: auto;
  }
   @media (min-width: $vp-dekstop){
    width: 47%;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

     @media (min-width: $vp-tablet) {
      margin-bottom: 0;
    }
  }
}

.catalog__sort {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;

   @media (min-width: $vp-tablet) {
    margin: 0 0 26px auto;
  }
}

.catalog__label {
  display: flex;
  align-items: center;
}

.catalog__label-text {
  margin-right: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

   @media (min-width: $vp-dekstop){
    margin-right: 12px;
  }
}

.catalog__select {
  width: 165px;
}

.catalog__products {
  display: grid;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;

  grid-template-columns: 1fr;
  row-gap: 20px;
   @media (min-width: $vp-tablet) {
    margin-bottom: 70px;

    column-gap: 30px;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
   @media (min-width: $vp-dekstop){
    margin-bottom: 60px;

    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__product {
  display: grid;
  padding: 40px 20px 20px 20px;

  column-gap: 30px;

  background-color: $color-white;
  border-radius: 4px;

  transition: box-shadow 0.2s;

  grid-auto-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr;
   @media (min-width: $vp-tablet) {
    padding: 50px 30px 30px 30px;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
}

.catalog__product-link {
  display: block;

  color: $color-night-rider;

  grid-column: 1 / -1;

  &:hover {
    color: $color-medium-purple;
  }

  &:active {
    color: $color-royal-purple;
  }
}

.catalog__product-image {
  display: block;
  width: auto;
  height: 188px;
  margin: 0 auto;
  margin-bottom: 24px;

   @media (min-width: $vp-tablet) {
    margin-bottom: 30px;
  }
}

.catalog__product-subtitle {
  margin: 0;
  margin-bottom: 4px;

   @media (min-width: $vp-tablet) {
    margin-bottom: 10px;
  }
}

.catalog__product-desc {
  margin: 0;
  margin-bottom: 16px;

  grid-column: 1 / -1;
   @media (min-width: $vp-tablet) {
    margin-bottom: 20px;
  }
}

.catalog__product-price {
  align-self: center;
  margin: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  word-break: break-all;

  grid-column-start: 1;
}

.catalog__product-button {
  align-self: center;
  width: fit-content;

  font-size: 14px;
  line-height: 20px;

  justify-self: end;
  grid-column-end: -1;
}

.catalog__pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;
   @media (min-width: $vp-tablet) {
    justify-content: flex-end;
  }
}

.catalog__pagination-link {
  min-width: 40px;
  min-height: 40px;
  padding: 5px;

  &--arrow {
     @media (min-width: $vp-tablet) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.catalog__pagination-svg {
   @media (min-width: $vp-tablet) {
    display: none;
  }

  &--right {
    transform: scale(-1, 1);
  }
}

.catalog__pagination-text {
  display: none;

   @media (min-width: $vp-tablet) {
    display: block;
  }
}
