.footer {
  margin: 0 auto;

  @media (min-width: $vp-tablet) {
    max-width: 1024px;
    padding: 39px 20px 30px 20px;
  }

  @media (min-width: $vp-dekstop) {
    display: grid;
    max-width: 1440px;
    padding: 39px 40px 30px 40px;

    column-gap: 62px;

    grid-template-columns: auto 1fr;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $color-magnolia;

  @media (min-width: $vp-tablet) {
    margin-bottom: 30px;
    padding: 0;

    border-bottom: 0;
  }

  @media (min-width: $vp-dekstop) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 300px;
    margin-bottom: 10px;
  }
}

.footer__logo-wrapper {
  @media (min-width: $vp-dekstop) {
    margin-bottom: 50px;
  }
}

.footer__logo,
.footer__logo-image {
  display: block;
}

.footer__logo-text {
  display: none;

  @media (min-width: $vp-dekstop) {
    display: block;
    margin-top: 10px;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 20px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: $color-silver;

  &:hover,
  &:focus {
    color: $color-slate-blue;
  }

  &:active {
    color: $color-royal-purple;
  }
}

.footer__menu {
  @media (min-width: $vp-tablet) {
    display: grid;
    margin-bottom: 28px;

    column-gap: 30px;

    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $vp-dekstop) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer__menu-wrapper {
  padding: 20px 20px 28px 20px;

  border-bottom: 1px solid $color-magnolia;

  @media (min-width: $vp-tablet) {
    padding: 0;

    border-bottom: 0;
  }

  &--contacts {
    padding-bottom: 20px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-slate-blue;
  letter-spacing: 0.02em;
}

.footer-menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  &--contacts {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.12px;
  }
}

.footer__menu-item {
  padding-bottom: 20px;

  &:last-child {
    padding-bottom: 0;
  }

  &--address,
  &--phone {
    display: flex;

    &::before {
      content: "";
      position: relative;
      top: 2px;

      flex-shrink: 0;
      width: 13px;
      height: 16px;
      margin-right: 6px;

      background-repeat: no-repeat;
    }
  }

  &--address {
    margin-bottom: 16px;
    padding-bottom: 0;

    &::before {
      background-image: url("../../img/svg/address.svg");
    }
  }

  &--phone {
    &::before {
      background-image: url("../../img/svg/phone.svg");
    }
  }
}

.footer__menu-link {
  color: $color-night-rider;

  &:hover,
  &:focus {
    color: $color-slate-blue;
  }

  &:active {
    color: $color-royal-purple;
  }
}

.footer__menu-address {
  font-style: normal;
  text-transform: none;
}

.footer-academy-wrapper {
  padding: 10px 20px 20px 20px;

  @media (min-width: $vp-tablet) {
    padding: 0;
  }

  @media (min-width: $vp-dekstop) {
    margin-top: 7px;

    grid-column: 1 / -1;
    justify-self: center;
  }
}

.footer__academy {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;

  font-size: 12px;
  line-height: 16px;
  color: $color-silver;

  &:hover,
  &:focus {
    color: $color-slate-blue;
  }

  &:active {
    color: $color-royal-purple;
  }
}

.footer__academy-text {
  margin-right: 4px;
}

.footer__academy-svg {
  flex-shrink: 0;
}
