.page-header {
  min-height: 60px;
  background-color: $color-white;
  z-index: 2;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;

  @media (min-width: $vp-dekstop) {
    padding: 0 40px;
  }

  @media (min-width: $vp-tablet) {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
  }
}

.page-header__logo-wrapper {
  padding-top: 12px;
  padding-bottom: 8px;

  @media (min-width: $vp-tablet) {
    padding-top: 22px;
  }
}

.page-header__logo {
  @media (min-width: $vp-dekstop) {
    display: flex;
  }
}

.page-header__logo-text {
  display: none;

  @media (min-width: $vp-dekstop) {
    display: block;
    width: 126px;
    margin: 2px 0 0 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-night-rider;
  }
}
