.radio {
  display: flex;
  width: fit-content;

  cursor: pointer;
}

.radio__input {
  &:checked {
    + .radio__dot {
      border-color: $color-slate-blue;
    }

    + .radio__dot::before {
      background-color: $color-slate-blue;
    }
  }

  &:hover,
  &:focus {
    + .radio__dot {
      border-color: $color-medium-purple;
    }

    + .radio__dot::before {
      background-color: $color-slate-blue-opacity;
    }
  }

  &:disabled {
    pointer-events: none;

    + .radio__dot {
      border-color: $color-gainsboro;
    }

    + .radio__dot::before {
      background-color: $color-white;
    }

    ~ .radio__label-text {
      color: $color-silver;
    }
  }

  &:disabled:checked {
    + .radio__dot::before {
      background-color: $color-gainsboro;
    }
  }
}

.radio__dot {
  position: relative;

  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  background-color: $color-white;
  border: 2px solid $color-silver;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 16px;
    height: 16px;
    margin: auto;

    border-radius: 50%;
  }
}

.radio__label-text {
  font-size: 16px;
  line-height: 24px;
}
