.range {
  position: relative;

  width: 100%;
  height: 4px;
  margin-top: 30px;
  margin-bottom: 33px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 29px;
  }

  @media (min-width: $vp-dekstop) {
    margin-bottom: 31px;
  }
}

.range__base {
  height: 2px;

  background-color: $color-gainsboro;
}

.range__base,
.range__connects {
  position: relative;
  z-index: 1;

  width: 100%;
}

.range__connect {
  height: 4px;

  background-color: $color-slate-blue;
}

.range__connect,
.range__origin {
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 1;

  width: 100%;

  transform-origin: 0 0;
  transform-style: flat;

  will-change: transform;
}

.range__origin {
  height: 100%;
}

.range__handle {
  position: absolute;
  top: -10px;
  right: -11px;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: $color-white;
  border: 2px solid $color-medium-purple;
  border-radius: 50%;
  backface-visibility: hidden;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 16px;
    height: 16px;
    margin: auto;

    border-radius: 50%;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-white;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $color-slate-blue-opacity;
    }
  }

  &:active {
    &::before {
      background-color: $color-slate-blue;
    }
  }
}

.range__touch-area {
  width: 100%;
  height: 100%;
}
