/* здесь используйте глобальные переменные */
$fz-default: 14px;
$lh-default: 20px;
$ff-montserrat: "Montserrat", "Arial", sans-serif;

$color-white: #ffffff;
$color-silver: #bdbdbd;
$color-night-rider: #333333;
$color-slate-blue: #7859cf;
$color-magnolia: #f0ebff;
$color-slate-blue-opacity: rgba(#7859cf, 0.25);
$color-medium-purple: #9070ec;
$color-royal-purple: #593cac;
$color-gainsboro: #e2e2e2;
$color-white-smoke: #f8f8f8;
$color-bridal-heath: #f3ebe1;
$color-bridal-lavender: #eae6fc;
$color-bridal-solitude: #e5e6e8;


// Viewport
$vp-tablet: 768px;
$vp-dekstop: 1440px;
